{{! template-lint-disable no-inline-styles }}
<div style="height: 0; width: 0; line-height: 0;" {{did-insert this.onInsert}} ...attributes>
  {{#each this.motion.orphans as |orphan|}}
    <Motion @animate={{orphan.animate}} @exit={{orphan.exit}} @orphan={{orphan}} @orphanOffsetRect={{this.offsetRect}}>
      {{! template-lint-disable no-triple-curlies }}
      {{{orphan.html}}}
    </Motion>
  {{/each}}
</div>