{{!-- <MotionOrphans style="position: absolute; top: 0; left: 0;"/> --}}

<h2 id="title">Welcome to Ember</h2>

<AnimateSharedLayout class="list-grid">
  {{#let (hash type="spring" stiffness=2000 damping=300 mass=10) as |spring|}}
    <ul class="list list1">
      {{#each this.list1 as |item|}}
        <Motion
          @layoutId={{item}}
          @transition={{spring}}
          {{on "click" (fn this.moveToList2 item)}}
        >
          <div class="box-shadow">
            {{item}}
          </div>
        </Motion>
      {{/each}}
    </ul>
    <ul class="list list2">
      {{#each this.list2 as |item|}}
        <Motion
          @layoutId={{item}}
          @transition={{spring}}
          {{on "click" (fn this.moveToList1 item)}}
        >
          <div class="box-shadow">
            {{item}}
          </div>
        </Motion>
      {{/each}}
    </ul>
  {{/let}}
</AnimateSharedLayout>

<button {{on "click" (fn (mut this.x) 0)}} type="button">To the left</button>
<button {{on "click" (fn (mut this.x) 250)}} type="button">To the right</button>

<h3>Spring</h3>
<p>Type "spring" simulates a damped harmonic oscilator. Various properties can be set to control the behaviour of the spring.</p>
<Motion
  @animate={{hash
    x=this.x
    backgroundColor=this.background
    borderRadius=this.borderRadius
  }}
  style="height: 100px; width: 100px; margin-bottom: 15px;"
>
  default spring
</Motion>

<Motion @animate={{hash x=this.x rotate=this.rotate skewX=-10}} @transition={{hash type="spring" damping=25}} style="height: 100px; width: 100px; background: red;">
  critically damped spring
</Motion>

<Motion @animate={{hash x=this.x}} @transition={{hash type="spring" damping=10}} style="height: 100px; width: 100px; background: red;">
  underdamped spring
</Motion>

<Motion @animate={{hash x=this.x}} @transition={{hash type="spring" damping=50 allowsOverdamping=true}} style="height: 100px; width: 100px; background: red;">
  overdamped spring
</Motion>

<h3>Tween</h3>
<p>Type "tween" uses default Web Animation/CSS easings. A duration can also be set.</p>
<Motion @animate={{hash x=this.x}} @transition={{hash type="tween" duration=1000}} style="height: 100px; width: 100px; background: red;">
  linear
</Motion>

<Motion @animate={{hash x=this.x}} @transition={{hash type="tween" easing="ease-in-out" duration=1000}} style="height: 100px; width: 100px; background: red;">
  ease-in-out
</Motion>

<h3>Entering/leaving animations</h3>
<button {{on "click" (fn (mut this.show) true)}} type="button">show</button>
<button {{on "click" (fn (mut this.show) false)}} type="button">hide</button>
{{#if this.show}}
  <Motion
    @initial={{hash x=-30 opacity=0 }}
    @animate={{hash x=this.x opacity=1}}
    @exit={{hash x=50 opacity=0}}
    @transition={{hash type="spring"}}
    style="height: 100px; width: 100px; background: red;"
  >
    spring
  </Motion>
{{/if}}

{{outlet}}


<AnimateSharedLayout class="shared-layout">
  <ul>
    {{#each this.colors as |color index|}}
      {{#if (eq index 0)}}
        <li class="item" {{on "click" (fn (mut this.selected) color)}} style="background-color: {{color}}; transform: scale(0.5) rotate(-15deg)">
          {{#if (eq color this.selected)}}
            <Motion
              @layoutId="outline"
              class="outline"
              @initial={{false}}
              @animate={{hash borderColor=color}}
              @transition={{hash type="spring"}}
              style="border-color: {{color}}"
            />
          {{/if}}
          scale 0.5
        </li>
      {{else if (eq index 1)}}
        <li class="item" {{on "click" (fn (mut this.selected) color)}} style="background-color: {{color}}; transform: scale(1.25) rotate(30deg);">
          {{#if (eq color this.selected)}}
            <Motion
              @layoutId="outline"
              class="outline"
              @initial={{false}}
              @animate={{hash borderColor=color}}
              @transition={{hash type="spring"}}
              style="border-color: {{color}}"
            />
          {{/if}}
          scale 1.25
        </li>
      {{else}}
        <li class="item" {{on "click" (fn (mut this.selected) color)}} style="background-color: {{color}}; transform: scale(1)">
          {{#if (eq color this.selected)}}
            <Motion
              @layoutId="outline"
              class="outline"
              @initial={{false}}
              @animate={{hash borderColor=color}}
              @transition={{hash type="spring"}}
              style="border-color: {{color}}"
            />
          {{/if}}
          scale 1
        </li>
      {{/if}}

    {{/each}}
  </ul>
</AnimateSharedLayout>

<MotionOrphans style="position: absolute; top: 0; left: 0;"/>